* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-full {
  width: 100%;
}

.h-\[100vh\] {
  height: 100vh;
}

.bg-transparent {
  background-color: transparent;
}

.z-10 {
  z-index: 10;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .flex-row-reverse {
    flex-direction: row-reverse;
  }
}
